<div>
  <%= image_tag @book.get_image %>
  <p>Title  <%= @book.title %></p>
  <p>Opinion  <%= @book.body %></p>
  <p>name  <%= @book.user.name %></p>
  <p>introduction<%= @book.user.introduction %></p>
</div>

